.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-item {
  color: white;
}

.nav-item:active {
  color: #f15b2a;
}

main {
  min-height: 50vh;
  justify-content: center;
  padding-top: 2em;
}

.home-main {
  background-color: darkolivegreen;
}

.results-main {
  background-color: rgb(228, 157, 70);
}

.link-wrapper {
  margin: 1em 0;
}

.link-wrapper > * {
  color: #282c34;
}

button {
  padding: 1em;
  background-color: rgb(156, 190, 95);
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
}

button:hover {
  background-color: rgb(28, 68, 28);
  color: white;
}
